name: BYOND Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  BYOND_MAJOR: 516
  BYOND_MINOR: 1666
  SPACEMAN_DMM_VERSION: suite-1.11

jobs:
  start_gate:
    if: ( !contains(github.event.head_commit.message, '[ci skip]') )
    name: Run Linters
    runs-on: ubuntu-22.04
    steps:
      - name: Mandatory Empty Step
        run: exit 0
    
  run_linters:
    name: Run Linters
    needs: start_gate
    uses: ./.github/workflows/run_linters.yml

  collect_data:
    name: Collect data and setup caches for other tasks
    needs: start_gate
    uses: ./.github/workflows/collect_data.yml

  compile_all_maps:
    name: Compile Maps
    needs: collect_data
    uses: ./.github/workflows/compile_all_maps.yml
    with:
      max_required_byond_client: ${{ needs.collect_data.outputs.max_required_byond_client }}

  setup_build_artifacts:
    name: Setup build artifacts
    needs: collect_data
    uses: ./.github/workflows/setup_build_artifacts.yml
    with:
      build_versions: ${{ needs.collect_data.outputs.required_build_versions }}

  run_all_tests:
    name: Integration Tests
    needs: [collect_data, setup_build_artifacts]
    uses: ./.github/workflows/perform_regular_version_tests.yml
    with:
      maps: ${{ needs.collect_data.outputs.maps }}
      max_required_byond_client: ${{ needs.collect_data.outputs.max_required_byond_client }}

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Restore BYOND from Cache
        uses: ./.github/actions/restore_or_install_byond

      - name: Install BYOND dependencies
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install libcurl4-openssl-dev:i386

      - name: Setup Bun
        uses: ./.github/actions/setup_bun

      - name: Compile BYOND project
        run: |
          source $HOME/BYOND/byond/bin/byondsetup
          tools/build/build.sh

      - name: Check for errors
        id: check-errors
        run: |
          if grep -q "error" *.log; then
            echo "::error ::Compilation failed with errors."
            exit 1
          else
            echo "Compilation succeeded without critical errors."
          fi
