name: BYOND Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  BYOND_MAJOR: 516
  BYOND_MINOR: 1666
  SPACEMAN_DMM_VERSION: suite-1.11

jobs:
  start_gate:
    if: ( !contains(github.event.head_commit.message, '[ci skip]') )
    name: Run Linters
    runs-on: ubuntu-22.04
    steps:
      - name: Mandatory Empty Step
        run: exit 0
    
  run_linters:
    name: Run Linters
    needs: start_gate
    uses: ./.github/workflows/run_linters.yml

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Restore BYOND cache
        uses: actions/cache@v4
        with:
          path: ~/BYOND
          key: ${{ runner.os }}-BYOND-${{ env.BYOND_MAJOR }}-${{ env.BYOND_MINOR }}
      
      - name: Install BYOND
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y make gcc unzip
          bash tools/ci/install_byond.sh

      - name: Install BYOND dependencies
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install libcurl4-openssl-dev:i386

      - name: Compile BYOND project
        run: |
          ls -h $HOME/
          source $HOME/BYOND/byond/bin/byondsetup
          tools/build/build.sh

      - name: Check for errors
        id: check-errors
        run: |
          if grep -q "error" *.log; then
            echo "::error ::Compilation failed with errors."
            exit 1
          else
            echo "Compilation succeeded without critical errors."
          fi
